<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

    <div th:replace="fragments/header :: header"></div>

    <div class="d-flex">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="content p-4">
            <h2 class="mb-4">Список сотрудников</h2>

            <div class="card mb-4">

                <div class="card-body">
                    <form class="form-group" th:action="@{/onlearn/onlearn/admin/user/create}">
<!--                        <form class="form-group" th:action="@{/admin/employee/create}">-->
                        <button id="create_new" type="submit" class="btn btn-primary">Добавить нового сотрудника</button>
                    </form>

                    <table id="categories" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Пол</th>
                                <th>Дата рождения</th>
                                <th>E-mail</th>
                                <th>Номер Телефона</th>
                                <th>Департамент</th>
                                <th>Логин</th>
                                <th>Роль</th>
<!--                                <th>О себе</th>-->
                                <th class="actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.id}"></td>
                                <td th:text="${employee.surname}"></td>
                                <td th:text="${employee.name}"></td>
                                <td th:text="${employee.middleName}"></td>
                                <td th:text="${employee.sex}"></td>
                                <td th:text="${employee.dateOfBirth}"></td>
                                <td th:text="${employee.email}"></td>
                                <td th:text="${employee.phoneNumber}"></td>
                                <td th:text="${employee.getDepartmentTitle}"></td>
                                <td th:text="${employee.getUser().login}"></td>
                                <td th:text="${employee.getUser().getRoleTitle()}"></td>
<!--                                <td th:text="${employee.bio}"></td>-->

                                <td>
                                    <a th:href="@{/onlearn/admin/employee/{id}/edit(id=${employee.id})}"
                                        class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                    <form sec:authorize="hasAnyRole('ROLE_SUPER-ADMIN')" th:action="@{/onlearn/admin/employee/{id}/delete(id=${employee.id})}" th:method="delete"
                                        class="d-inline">
                                        <button id="delete_btn" class="btn btn-icon btn-pill btn-danger"
                                            data-toggle="tooltip" title="Delete">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments/footer :: scripts"></script>
    <script th:src="@{/js/datatables.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('#categories').DataTable();
        });
    </script>

</body>

</html>