<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

    <th:block th:if="${error}">
        <div th:replace="fragments/header :: alert"></div>
    </th:block>

    <div th:replace="fragments/header :: header"></div>

    <div class="d-flex">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="content p-4">
            <h2 class="mb-4" th:if="${edit}">Редактировать учебное направление</h2>
            <h2 class="mb-4" th:if="${create}">Создать учебное направление</h2>

            <form th:object="${direction}" method="post" th:action="@{/onlearn/admin/directionPost}"
                enctype="multipart/form-data">
                <div class="card mb-4">
                    <div class="card-body">
                        <input th:type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="name">Название направления</label>
                            <input th:field="*{title}" type="text" class="form-control" id="name"
                                placeholder="Введите название направления" required>
                            <label for="description">Описание</label>
                            <input th:field="*{description}" type="text" class="form-control" id="description"
                                placeholder="Введите описание направления" required>
                        </div>
                        <div class="form-group">
                            <label for="newPictures">Логотип</label>
                            <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                                placeholder="Загрузите изображение" multiple>
                        </div>
                    </div>

                    <div class="card-footer bg-white">
                        <button id="submint_obj" type="submit" class="btn btn-primary">Применить</button>
                    </div>
                </div>
            </form>

                        <div class="container-fluid mb-4">
                            <div class="card-columns" style="column-count: 5">
                                <div class="card" th:each="pict : ${direction.pictures}">
                                    <form class="card-header"
                                          th:action="@{/picture/deleteDirectionPicture/{pictureId}(pictureId=${pict.id})}">
                                        Picture<button class="float-right"><i class="fa fa-times"></i></button>
                                    </form>
                                    <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}"
                                         width="40%" />
                                </div>
                            </div>
                        </div>

        </div>
    </div>

    <script th:replace="fragments/footer :: scripts"></script>

</body>

</html>