<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

    <th:block th:if="${error}">
        <div th:replace="fragments/header :: alert"></div>
    </th:block>

    <div th:replace="fragments/header :: header"></div>

    <div class="d-flex">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="content p-4">
            <h2 class="mb-4" th:if="${edit}">Редактировать учебную дисциплину</h2>
            <h2 class="mb-4" th:if="${create}">Создать учебную дисциплину</h2>

            <form th:object="${discipline}" method="post" th:action="@{/admin/disciplinePost}">
                <div class="card mb-2">
                    <div class="card-body">
                        <input th:type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="name">Название учебной дисциплины</label>
                                <input th:field="*{title}" type="text" class="form-control" id="name"
                                    placeholder="Введите название учебной дисциплины" required>
                            <label for="time">Количество академических часов</label>
                                <input th:field="*{discTime}" type="time" class="form-control" id="time"
                                       placeholder="Введите количество академических часов" required>
                            <label for="description">Описание</label>
                                <input th:field="*{description}" type="text" class="form-control" id="description"
                                       placeholder="Введите описание учебной дисциплины" required>
                            <label for="faculty">Факультеты</label>
<!--                            <p>-->
<!--                                <select multiple="multiple" th:field="*{faculty}" type="text" class="form-control" id="faculty"-->
<!--                                       placeholder="Выберите для дисциплины все факультеты в которые она входит" required>-->
<!--                                    <option th:each="fuc : ${faculties}" th:text="${fuc.title}" th:value="${fuc.id}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </p>-->

                            <div class="list-group">
                                <label class="list-group-item table-hover" id="faculty" th:each="fuc : ${faculties}">
                                    <input class="form-check-input me-1" type="checkbox"
                                            th:text="${fuc.title}" th:value="${fuc.id}">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-white">
                        <button id="submint_obj" type="submit" class="btn btn-primary">Применить</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script th:replace="fragments/footer :: scripts"></script>

</body>

</html>