<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="bg-light">

    <div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li id="manufacture_list" th:classappend="${activePage == 'Департаменты'} ? active">
                <a th:href="@{/onlearn/admin/department}">
                    <i class="fa fa-fw fa-link"></i> Департаменты</a></li>
            <li id="user_list" th:classappend="${activePage == 'Направления'} ? active">
                <a th:href="@{/onlearn/admin/direction}">
                    <i class="fa fa-fw fa-link"></i> Направления</a></li>
            <li id="role_list" th:classappend="${activePage == 'Факультеты'} ? active">
                <a th:href="@{/onlearn/admin/faculty}">
                    <i class="fa fa-fw fa-link"></i> Факультеты</a></li>
            <li id="category_list" th:classappend="${activePage == 'Дисциплины'} ? active">
                <a th:href="@{/onlearn/admin/discipline}">
                    <i class="fa fa-fw fa-link"></i> Дисциплины</a></li>
            <li id="manufacture_list" th:classappend="${activePage == 'Сотрудники'} ? active">
                <a th:href="@{/onlearn/admin/employee}">
                    <i class="fa fa-fw fa-link"></i> Сотрудники</a></li>
            <li id="manufacture_list" th:classappend="${activePage == 'Студенты'} ? active">
                <a th:href="@{/onlearn/admin/student}">
                    <i class="fa fa-fw fa-link"></i> Студенты</a></li>
<!--            <li id="manufacture_list" th:classappend="${activePage == 'Users'} ? active">-->
<!--                <a th:href="@{/admin/user}">-->
<!--                    <i class="fa fa-fw fa-link"></i> Users</a>-->
<!--            </li>-->
        </ul>
    </div>

</body>

</html>