<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>About</title>

    <!--
            Google Font
            ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<!-- Start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/onlearn"><img th:src="@{/img/logo.png}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/onlearn">Главная</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li class="menu-has-children"><a href="/onlearn/faculty">Факультеты</a>
                        <ul>
                            <li th:each="faculty : ${facultyAll}" >
                                <a th:href="@{/faculty/{id} (id = ${faculty.getId()})}"
                                   th:text="${faculty.getTitle()}">Факультет</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/login">Войти</a>
                        <ul>
                            <li><a href="elements.html">Зарегистрироваться</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="/onlearn/cart">Корзина</a>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->


<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white" th:text="${facultyId.getTitle()}">
                    Название факультета
                </h1>

            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img th:src="@{/img/rocket.png}" alt="">
    </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" th:src="@{/img/study.jpg}" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1>
                    Несколько слов  <br> о факультете
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p th:text="${facultyId.getDescription()}">
                        Мы команда единомышленников, которая хочет поднять уровень образования на новый уровень.
                        Сделать его доступным.
                        За время существования мы получили огромное количество отзывов. После прохождения обучения и
                        поддерживаем, и помогаем нашим студентам.
                        Мы стараемся становится всё лучше и лучше. Поэтому открыты для ваших предложений. После
                        прохождения курсов вы
                        получите сертификат государственного образца.
                    </p>
                </div>
                <a href="courses.html" class="primary-btn">Список дисциплин</a><br><br>
                <form th:method="post" th:action="@{/cart}">
                    <input type="hidden" name="facultyId" th:value="${facultyId.getId()}">
                    <input type="hidden" name="qty" th:value="${1}">
                    <button class="btn-outline-success">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->


<!-- Start Faculty Area -->

<!-- End Faculty Area -->


<!-- Start Testimonials Area -->


<!-- End Testimonials Area -->


<!-- Start Footer Area -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->

<!-- ####################### Start Scripts ####################### -->
<script th:replace="fragments/scripts.html :: scripts" ></script>
<!-- ####################### End Scripts ####################### -->
</body>

</html>