<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/onlearn.css}">
</head>
<body>


<section class="cart_onlearn">
    <div class="cart_block cart_img">
<!--        <div class="cart_img1">-->
        <img class="cart_img1" th:src="@{/img/shopping-cart-small.jpg}" alt="">
<!--        </div>-->
    </div>
    <div class="cart_block cart_table">
        <table>
            <caption>Корзина</caption>
            <thead>
            <tr>
<!--                <th scope="col"></th>-->
                <th scope="col">Факультет</th>
                <th scope="col">Цена</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="lineItem : ${lineItems}">
<!--                <td></td>-->
                <td>
                    <div class="media">
                        <div class="media-body">
                            <h3 class="text-red" th:text="${lineItem.getFacultyDTO().getTitle()}">
                                Название факультета
                            </h3>
                        </div>
                    </div>
                </td>
                <td><h3 th:text="${lineItem.getFacultyDTO().getPrice()}"></h3></td>
                <td>
                    <form th:method="delete" th:action="@{/cart}">
                        <input type="hidden" name="facultyId" th:value="${lineItem.getFacultyDTO().getId()}">
                        <button class="remove__btn">Удалить</button>
                    </form>
                </td>
            </tr>
            <tr>
                <div class="total__price1">
                    <td><h3>Общая стоимость</h3> </td>
                    <td><h3 th:text="${totalPrice}"></h3> </td>
                    <td><button class="btn-outline-danger">Купить</button> </td>
                </div>
            </tr>

            </tbody>
        </table>
    </div>

</section>


</body>
</html>