<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Shopping-Cart</title>

    <!--
            Google Font
            ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/onlearn.css}">
</head>

<body>

<!-- Start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/onlearn"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/onlearn">Главная</a></li>
                    <li><a href="about">О нас</a></li>
                    <li class="menu-has-children"><a href="/onlearn/direction">Направления</a>
                        <ul>
                            <li th:each="direction : ${allDirection}" >
                                <a th:href="@{/{id}/direction (id = ${direction.getId()})}"
                                   th:text="${direction.getTitle()}">Программирование</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="/onlearn/faculty">Факультеты</a>
                        <ul>
                            <li th:each="faculty : ${facultyAll}" >
                                <a th:href="@{/faculty/{id} (id = ${faculty.getId()})}"
                                   th:text="${faculty.getTitle()}">Программирование</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Контакты</a></li>
<!--                    <li sec:authorize="hasRole('STUDENT')">-->
<!--                        <a  th:href="@{/student/{login} (login = ${userOnline})}">Профиль студента</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">-->
<!--                            <a sec:authorize="isAuthenticated()" >Выйти</a>-->
<!--                            <a sec:authorize="isAnonymous()" th:href="@{~/onlearn/login}" >Войти</a>-->
<!--                        </form>-->

<!--                        <ul>-->
<!--                            <li ><a th:href="@{/registration}">Зарегистрироваться</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <li sec:authorize="hasRole('STUDENT')" class="menu-has-children"><a href="/onlearn/cart">Корзина</a>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>
<p></p>
<!-- End Header Area -->


<!-- Start About Area -->
<!--<section class="about-area section-gap">-->
<section class="home-banner-area relative">
<!--<section class="cart_onlearn">-->
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
<!--            <div class="banner-content col-lg-8 col-md-12">-->
        <div class="row align-items-center justify-content-center">
<!--            <div class="cart_img">-->
            <div class="col-lg-5 col-md-6 about-left">
                <img th:src="@{/img/shopping-cart-small.jpg}" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
<!--            <div class="cart_table">-->
                <h1>
                    Корзина
                </h1>
                <div class="table-responsive-md">
                    <!--                        <form id="cartItemsForm" th:method="post" th:action="@{/cart/update_all_qty}">-->
                    <table class="table">
<!--                <table>-->
<!--                    <caption>Корзина</caption>-->
                        <thead>
                        <tr>
<!--                            <th scope="col"></th>-->
                            <th scope="col">Факультет</th>
                            <th scope="col">Цена</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="lineItem : ${lineItems}">
<!--                            <th>-->
<!--                                <img class="close_icon" src="img/icon/close_icon.png" alt="">-->
<!--                            </th>-->
                            <td>
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="text-red" th:text="${lineItem.getFacultyDTO().getTitle()}">
                                            Название факультета
                                        </h3>
                                    </div>
                                </div>
                            </td>
                            <td><h3 th:text="${lineItem.getFacultyDTO().getPrice()}"></h3></td>
                            <td>
                                <form th:method="delete" th:action="@{/cart}">
                                    <input type="hidden" name="facultyId" th:value="${lineItem.getFacultyDTO().getId()}">
                                    <button class="remove__btn">Удалить</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <div class="total__price1">
                                <td><h3>Общая стоимость</h3> </td>
<!--                                <td></td>-->
                                <td><h3 th:text="${totalPrice}"></h3> </td>
                                <td>
                                    <form th:method="post" th:action="@{/cart/saveToOrder}">
                                        <button th:if="${lineItems.isEmpty()}" class="btn-flat" disabled>Купить</button>
                                        <button th:if="${!lineItems.isEmpty()}" class="btn-outline-danger">Купить</button>
                                    </form>
                                </td>
                            </div>
                        </tr>

                        </tbody>
                    </table>
                    <!--                        </form>-->
                </div>
<!--            </div>-->
            </div>
        </div>
        </div>
    </div>
    </section>
<!--</section>-->
<!-- End About Area -->


<!-- Start Faculty Area -->

<!-- End Faculty Area -->


<!-- Start Testimonials Area -->


<!-- End Testimonials Area -->


<!-- Start Footer Area -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->

<!-- ####################### Start Scripts ####################### -->
<script th:replace="fragments/scripts.html :: scripts" ></script>
<!-- ####################### End Scripts ####################### -->
</body>

</html>