<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/onlearn.css}">
</head>
<body>
    <div class="cart_container">
        <div class="cart_img">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, cumque esse libero natus quibusdam quidem. A ab accusamus architecto aut debitis deserunt dignissimos distinctio ducimus ea earum eius exercitationem harum id labore mollitia quae qui, quos ratione tempore totam ullam, ut voluptates. Commodi cupiditate debitis dolorem, eius possimus quod repellat!</div>
        <div class="cart_table">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores assumenda atque culpa dolore ducimus ea et, excepturi fuga illo impedit iusto laboriosam laborum mollitia necessitatibus nemo nobis non provident quas, quia quod recusandae reiciendis repudiandae saepe totam veniam, vitae. Cupiditate dolore esse est fuga ipsum perferendis quis suscipit voluptatem!</div>
    </div>
</body>
</html>