<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- <head th:replace="adminFragments/header :: head"></head> -->

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{https://bootadmin.net/css/datatables.min.css}">

    <title>OnLearn Admin</title>
</head>

<body class="bg-light">

    <nav th:fragment="header" class="navbar navbar-expand navbar-dark bg-primary">
        <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand" href="#">OnLearn study portal</a>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <!--            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>-->
                <!--            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>-->
                <li class="nav-item dropdown">
                    <a href="#" id="logged-in-username" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span id="dd_user" sec:authentication="principal.username">Default User</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logged-in-username">
                        <a href="#" class="dropdown-item">Profile</a>
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" id="link-logout" class="dropdown-item" value="Logout" />
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div th:fragment="alert" class="alert alert-danger alert-dismissible" role="alert">
        Can't complete operation because of server side error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</body>

<body class="bg-light">

    <!--<th:block th:if="${error}">-->
    <!--    <div th:replace="adminFragments/header :: alert"></div>-->
    <!--</th:block>-->

    <!--<div th:replace="adminFragments/header :: header"></div>-->

    <div class="d-flex">
        <!--    <div th:replace="adminFragments/sidebar :: sidebar"></div>-->

        <body class="bg-light">

            <div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
                <ul class="list-unstyled">
                    <li id="manufacture_list" th:classappend="${activePage == 'Департаменты'} ? active">
                        <a th:href="@{/admin/department}">
                            <i class="fa fa-fw fa-link"></i> Департаменты</a>
                    </li>
                    <li id="user_list" th:classappend="${activePage == 'Направления'} ? active">
                        <a th:href="@{/admin/direction}">
                            <i class="fa fa-fw fa-link"></i> Направления</a>
                    </li>
                    <li id="role_list" th:classappend="${activePage == 'Факультеты'} ? active">
                        <a th:href="@{/admin/faculty}">
                            <i class="fa fa-fw fa-link"></i> Факультеты</a>
                    </li>
                    <li id="category_list" th:classappend="${activePage == 'Дисциплины'} ? active">
                        <a th:href="@{/admin/discipline}">
                            <i class="fa fa-fw fa-link"></i> Дисциплины</a>
                    </li>
                    <li id="manufacture_list" th:classappend="${activePage == 'Сотрудники'} ? active">
                        <a th:href="@{/admin/employee}">
                            <i class="fa fa-fw fa-link"></i> Сотрудники</a>
                    </li>
                    <li id="manufacture_list" th:classappend="${activePage == 'Студенты'} ? active">
                        <a th:href="@{/admin/student}">
                            <i class="fa fa-fw fa-link"></i> Студенты</a>
                    </li>
                    <!--            <li id="manufacture_list" th:classappend="${activePage == 'Users'} ? active">-->
                    <!--                <a th:href="@{/admin/user}">-->
                    <!--                    <i class="fa fa-fw fa-link"></i> Users</a>-->
                    <!--            </li>-->
                </ul>
            </div>

        </body>

        <div class="content p-4">
            <h2 class="mb-4" th:if="${create}">Новый студент</h2>

            <form th:object="${user}" method="post" th:action="@{/registration/userPost}" enctype="multipart/form-data">
                <div class="card mb-4">
                    <div class="card-body">
                        <input th:type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="login">Логин</label>
                            <input th:field="*{login}" type="text" class="form-control" id="login"
                                placeholder="Введите логин. Не менее 4 символов не более 25" required>
                            <p class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Ошибка
                                логина</p>
                        </div>

                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <td><input th:field="*{password}" type="password" class="form-control" id="password"
                                    placeholder="Введите пароль. Не меньше 7 символов" required></td>
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Ошибка пароля</p>
                        </div>

                        <div class="form-group">
                            <label for="roles">Роль</label>
                            <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                                <option th:each="role : ${roles}" th:text="${role.title}" th:value="${role.id}">
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="card-footer bg-white">
                        <button id="submint_obj" type="submit" class="btn btn-primary">Применить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--<script th:replace="adminFragments/footer :: scripts"></script>-->

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/bootadmin.min.js}"></script>
        <script th:src="@{https://bootadmin.net/js/datatables.min.js}"></script>
    </th:block>



</body>

</html>