<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">

<!--================Footer Area =================-->
<footer th:fragment="footer" class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>OnLearn</h4>
                <ul>
                    <li><a href="#">onlearn@support.com</a></li>
                    <li><a href="#">+7(909)999-06-69</a></li>
                    <li>Мы в соц. сетях</li>
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Информация</h4>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Наши контакты</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li>Лицензия на образовательную деятельность №012854901 от 01 сентября 2020 года</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4></h4>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4></h4>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>Подписаться</h4>
                <p>Вы можете подписаться на нас и получать уведомления</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="form-inline">
                        <input class="form-control" name="EMAIL" placeholder="Введите e-mail"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите e-mail'" required=""
                               type="email">
                        <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                 target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-md-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->
</html>